DATABASE_URL="mysql://root:@localhost:3306/school?parseTime=true"
SALTROUNDS=10
JWT_ACCESS_TOKEN_SECRET="asfdgsagalkmsdfl"
JWT_REFRESH_TOKEN_SECRET="asfdgsagalkmsdfls"
NEXT_PUBLIC_BASE_API='http://localhost:3000'
API_KEY="C200008562bd325f286ed5.21570494"
SENDER_ID="8804445629106"