# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
# Next.js
/.next
.vscode
AllFiles
mynewfile.txt
/public/images
/public/files
/public/certificate_templates
/certificate_templates
/public/certificate_images
/public/frontendPhoto
/services/attendance_service/logs
/services/sent_sms_service/logs
/services/external_attendance/logs
/logs